<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TODO LIST</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>
  <body>

    <h1>What To Do?</h1>
    <form class=""  method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <input class="btn btn-primary" type="submit" name="" value="SUBMIT">
    </form>

    <ol>
      {% for item in list %}
          <li>{{item.text}}
          {{item.created_at}}
          <a href="{% url 'delete' pk=item.pk %}"><i class="fas fa-times"></i></a></li>

      {% endfor %}
    </ol>

  </body>
</html>
